.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    padding: 5vh 25vh 5vh 25vh;
    gap: 5vh;
}

.about-description {
    grid-column: 1 / 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.about-description h2 {
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.4285714626312256px;
    text-align: left;
    text-transform: uppercase;

}

.about-description p {
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.5;


}

.about-image {
    grid-column: 2 / 3;
    padding: 10% 0 10% 0;
    border-radius: 5vh;

}

.about-image img {
    width: 100%;
    border-radius: 1vh;
}

@media (max-width: 992px) {
    .categories {
        padding-bottom: 0;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }

    .card-background {
        height: 75%;
    }

}