.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 5vh 25vh 5vh 25vh;
    gap: 5vh;
}

.about-description {
    grid-column: 1 / 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.about-description h2 {
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.4285714626312256px;
    text-align: left;
    text-transform: uppercase;

}

.about-description p {
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.5;


}

.about-image {
    grid-column: 2 / 3;
    padding: 10% 0 10% 0;
    border-radius: 5vh;

}

.about-image img {
    width: 100%;
    border-radius: 1vh;
}

@media (max-width: 992px) {
    .about {
        padding: 0 5vh;
        grid-template-rows: 1fr 1fr;
        height: 60vh;
        gap: 2vh 0;
    }

    .about-image {
        grid-row: 1 /2;
        grid-column: 1 / -1;
        padding: 10% 0 0% 0;

    }

    .about-image img {
        height: 100%;
    }

    .about-description {
        grid-row: 2 / 3;
        grid-column: 1 / -1;

        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 5vh 5vh 5vh;
    }

    .about-description h2 {
        font-family: Manrope;
        font-size: 40px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1.4285714626312256px;
        text-align: center;
    }

    .about-description p {
        font-family: Manrope;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        opacity: 0.5;
    }
}

@media (max-width: 420px) {
    .about {
        height: 95vh;
        padding: 0;
    }

    .about-image {
        height: auto;
        padding: 5%;
    }

    .about-image img {
        height: inherit;
    }

    .about-description h2 {
        font-family: Manrope;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 1px;
        text-align: center;

    }

    .about-description p {
        font-family: Manrope;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        opacity: 0.5;
    }
}