.navbar-background {
    height: 10vh;
    background-color: black;

}

.navbar-options {
    height: 97%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 10% 0 10%;
    border-bottom: 1px solid grey;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;


}

.navbar-pages {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    text-transform: uppercase;
}


.navbar-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}